<section class="reviews-section">
    <div class="container">
        <header class="reviews-section__header">
            <div class="reviews-section__title-wrapper">
                <h2 class="reviews-section__title js-title-animate">Отзывы наших покупателей</h2>
            </div>
            <div class="reviews-section__header-links">
                {{#if addReview }}
                    <a class="reviews-section__header-link button button--green js-section-animate" href="#feedback-product">Добавить отзыв</a>
                {{/if}}
                <a class="reviews-section__header-link button button--bordered js-section-animate" href="reviews.html">Смотреть все</a>
            </div>
        </header>
        <div class="reviews-section__slider swiper js-init-slider js-section-animate" data-slides-breakpoints="100:1,641:2,1025:3" data-space="22" data-auto-height="true">
            <div class="swiper-wrapper">
                {{#each reviews }}
                    <blockquote class="reviews-section__item swiper-slide">
                        <div class="reviews-section__item-top">
                            <div class="reviews-section__item-img">
                                <picture>
                                    <source data-srcset="{{this.imgWebp}}" type="image/webp">
                                    <img class="lazyload" data-src="{{this.img}}" alt="Фото автора">
                                </picture>
                            </div>
                            <div class="reviews-section__item-content">
                                <cite class="reviews-section__item-author">{{this.name}}</cite>
                                <span class="reviews-section__item-author-info">{{this.info}}</span>
                            </div>
                        </div>
                        <div class="reviews-section__item-text">
                            <p>{{this.text}}</p>
                        </div>
                    </blockquote>
                {{/each}}
            </div>
        </div>
        <div class="reviews-section__mobile-links">
            {{#if addReview }}
                <a class="reviews-section__link button button--green" href="#feedback-product">Добавить отзыв</a>
            {{/if}}
            <a class="reviews-section__link button button--bordered" href="reviews.html">Смотреть все</a>
        </div>
    </div>
</section>