{{#extend "layout"}}
    {{#content "main"}}

        <section class="product-card">
            <div class="container">
                <div class="product-card__wrapper">
                    <div class="product-card__img">
                        <div class="product-card__img-slider swiper">
                            <div class="swiper-wrapper">
                                {{#each products }}
                                    <div class="product-card__img-slide swiper-slide">
                                        <picture>
                                            <source srcset="{{this.imgWebp}}" type="image/webp">
                                            <img class="lazyload" data-src="{{this.img}}" alt="Фото продукта">
                                        </picture>
                                    </div>
                                {{/each}}
                            </div>
                            {{> slider-navigation }}
                            <div class="swiper-pagination"></div>
                        </div>
                        <span class="product-card__tag">
                            <svg>
                                <use xlink:href="#hit-icon"></use>
                            </svg>
                            <span>Хит продаж</span>
                        </span>
                    </div>
                    <div class="product-card__content">
                        {{> breadcrumbs data=breadcrumbs }}
                        <div class="product-card__categories">
                            <div class="product-card__category">
                                <svg>
                                    <use xlink:href="#category-1"></use>
                                </svg>
                                <span>Желудок и кишечник</span>
                            </div>
                            <div class="product-card__category">
                                <svg>
                                    <use xlink:href="#category-2"></use>
                                </svg>
                                <span>Кости и суставы</span>
                            </div>
                        </div>
                        <h1 class="product-card__title">BioPit</h1>
                        <p class="product-card__desc">Природный коллаген</p>
                        <div class="product-card__content-bottom">
                            <div class="product-card__features">
                                <span class="product-card__features-title">Чем полезен</span>
                                <ul class="product-card__features-list">
                                    {{#each productFeatures }}
                                        <li class="product-card__features-item">{{this.text}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__info-property">
                                    <div class="product-card__volume">
                                        <span class="product-card__volume-desc">Объем</span>
                                        <div class="product-card__volume-value">380 гр</div>
                                    </div>
                                    <span class="product-card__price">3 990 ₽</span>
                                </div>
                                <button class="product-card__button button button--green" type="button">В корзину</button>
                                <span class="product-card__delivery">Бесплатная доставка</span>
                                <span class="product-card__delivery-desc">от 4 500 ₽ по России и СНГ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-property">
            <div class="container">
                <div class="product-property__wrapper">
                    <div class="product-property__accordions">
                        {{#each property }}
                            <div class="product-property__accordion js-accordion" data-close-other="true">
                                <div class="product-property__accordion-header js-accordion-btn">
                                    <h3 class="product-property__accordion-title">{{this.title}}</h3>
                                    <svg>
                                        <use xlink:href="#arrow-down-icon"></use>
                                    </svg>
                                </div>
                                <div class="product-property__accordion-content js-accordion-content">
                                    <p>{{this.text}}</p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="product-property__img-block">
                        <div class="product-property__img">
                            <picture>
                                <source srcset="img/property-1.webp" type="image/webp">
                                <img class="lazyload" data-src="img/property-1.jpg" alt="Фото продукта">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}


<!--

    @include breakpoint(tablet) {

    }

    @include breakpoint(small-tablet) {

    }

    @include breakpoint(mobile) {

    }

-->